/*
  Use the DejaVu Sans font for display and embedding in the PDF file.
  The standard PDF fonts have no support for Unicode characters.
  */

.tablePrincipal {
  width: 99vw !important;
  table-layout: fixed;
}
section.report {
  width: 96%;
  margin: 0 auto;
}
.k-grid {
  font-family: "DejaVu Sans", "Arial", sans-serif;
}
.k-grid-header th.k-header {
  white-space: pre-wrap;
  vertical-align: top;
  position: relative;
  text-transform: capitalize;
}
.k-grid-header .k-grid-filter {
  padding: .5em .714em;
}
.k-grid-header th>.k-link>.k-icon {
  position: absolute;
  left: 0;
  top: 9px;
}

/* Hide the Grid header and pager during export */

.k-pdf-export .k-grid-toolbar, .k-pdf-export .k-pager-wrap, .k-pdf-export .k-grouping-header {
  display: none;
}
.k-header .k-link {
  text-align: center;
}
.k-pdf-export-shadow .k-detail-cell .k-grid, .k-detail-cell .k-grid {
  font-size: 100%;
}
.k-pdf-export-shadow .k-grid, .k-grid {
  font-size: 77%;
}
.k-loading-pdf-mask {}
.k-grid td {
  padding: .3em!important;
}
.k-grouping-header {
  background-color: #fafafa!important;
  color: #666!important;
}
.k-header.k-grid-toolbar {
  border-color: transparent!important;
}
.k-grid-header th {
  background-color: #ccc!important;
}
.k-detail-cell .k-grid .k-grid-header th {
  background-color: #999!important;
}
.k-grid-content tr td {
  border-left-width: 1px !important;
}
.k-grid tbody tr {
  height: 46px;
}
.k-multicheck-wrap {
  min-width: 117px;
}
.k-grid-content {
  min-height: 100px;
  max-height: 568px;
}

/*.k-grid td{
    white-space: nowrap;
}*/

.k-grid-header .k-header .k-link {
  color: #000!important;
  font-style: normal;
  font-weight: 500;
}
.k-grid-toolbar {
  text-align: right;
  background-color: transparent;
}
.k-grid-toolbar .k-button, .k-grouping-header .k-group-indicator, .k-pivot-toolbar .k-button {
  background-color: #666!important;
  border-color: transparent!important;
}
.k-grid-toolbar .k-button:hover {
  background-color: #333!important;
}
.k-pager-numbers .k-state-selected {
  border-color: #666 transparent transparent!important;
  color: #666!important;
}
.k-pager-numbers li, .k-pager-input {
  list-style-image: none;
}
.k-grid-footer, .k-group-footer {
  text-align: right;
}

/*Para mostrar solo el contador del padre*/

.k-group-footer:not(:last-child) {
  /*display: none !important;*/
}
.k-icon.k-filter {
  vertical-align: -webkit-baseline-middle;
}
.pdf-header, .pdf-footer {
  /*display: none;*/
  /*display: flex;
  justify-content:space-around;
  align-items: center;*/
  text-align: center;
  overflow: hidden;
}
.pdf-header img {
  float: left;
  margin: 2em;
}
.fa-spinner-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -80px;
  width: 80px;
  height: 80px;
  z-index: 100;
}
#loading-bar .bar {
  background: #8c3!important;
  height: 4px!important;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  opacity: .7;
  -moz-opacity: 0.5;
  filter: alpha(opacity=70);
}

/* menu view navegation*/

.navi {
  clear: both;
  display: table;
  margin: 15px auto;
}
.navi .button {
  float: left;
  cursor: pointer;
  width: 196px;
  height: 42px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 1.3em;
  padding: 5px;
  margin: 0 8px 3px 0;
  text-decoration: none;
  color: #333;
  background-color: #E8E8E8;
  font-size: .9em;
  font-style: normal;
  font-weight: normal;
      text-transform: uppercase;
}
.button:hover, .button.active {
  background-color: #f5f5f5;
  color: #333;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.75);
}
.navi .button span {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
}
.navi .button div {
  display: table;
  width: 100%;
  height: 100%;
}
@media (min-width:768px) and (max-width:979px) {
  .navi .button {
    width: 332px;
  }
}
@media (min-width:588px) and (max-width: 767px) {
  .navi .button {
    width: 244px;
  }
}
@media (min-width:410px) and (max-width: 587px) {
  .navi .button {
    width: 156px;
  }
}
@media (max-width: 409px) {
  .navi .button {
    width: 120px;
  }
}
