/*
  Use the DejaVu Sans font for display and embedding in the PDF file.
  The standard PDF fonts have no support for Unicode characters.
  */

.tablePrincipal {
  width: 99vw !important;
  table-layout: fixed;
}
section.report {
  width: 96%;
  margin: 0 auto;
}
.k-grid {
  font-family: "DejaVu Sans", "Arial", sans-serif;
}
.k-grid-header th.k-header {
  white-space: pre-wrap;
  vertical-align: top;
  position: relative;
}
.k-grid-header .k-grid-filter {
  padding: .5em .714em;
}
.k-grid-header th>.k-link>.k-icon {
  position: absolute;
  left: 0;
  top: 9px;
}

/* Hide the Grid header and pager during export */

.k-pdf-export .k-grid-toolbar, .k-pdf-export .k-pager-wrap, .k-pdf-export .k-grouping-header {
  display: none;
}
.k-header .k-link {
  text-align: center;
}
.k-pdf-export-shadow .k-detail-cell .k-grid, .k-detail-cell .k-grid {
  font-size: 100%;
}
.k-pdf-export-shadow .k-grid, .k-grid {
  font-size: 77%;
}
.k-loading-pdf-mask {}
.k-grid td {
  padding: .3em!important;
}
.k-grouping-header {
  background-color: #fafafa!important;
  color: #666!important;
}
.k-header.k-grid-toolbar {
  border-color: transparent!important;
}
.k-grid-header th {
  background-color: #666!important;
}
.k-detail-cell .k-grid .k-grid-header th {
  background-color: #999!important;
}
.k-grid-content tr td {
  border-left-width: 1px !important;
}
.k-grid tbody tr {
  height: 46px;
}

/*.k-grid td{
    white-space: nowrap;
}*/

.k-grid-header .k-header .k-link{color: #fff!important; font-style: normal;}
.k-grid-toolbar {text-align: right; background-color: transparent;}
.k-grid-toolbar .k-button, .k-grouping-header .k-group-indicator, .k-pivot-toolbar .k-button {background-color: #666!important; border-color: transparent!important;}
.k-grid-toolbar .k-button:hover {background-color: #333!important;}
.k-pager-numbers .k-state-selected {
  border-color: #666 transparent transparent!important;
  color: #666!important;
}
.k-pager-numbers li, .k-pager-input {
  list-style-image: none;
}
.k-grid-footer, .k-group-footer {
  text-align: right;
}

/*Para mostrar solo el contador del padre*/

.k-group-footer:not(:last-child) {
  /*display: none !important;*/
}
.k-icon.k-filter {
  vertical-align: -webkit-baseline-middle;
}
.pdf-header, .pdf-footer {
  /*display: none;*/
  /*display: flex;
  justify-content:space-around;
  align-items: center;*/
  text-align: center;
  overflow: hidden;
}
.pdf-header img {
  float: left;
  margin: 2em;
}
